
<div class=container>

  <div class=info>
    <p>Search Location:</p><input id="city"><button id="send">Go</button> 
    <div id="returnCity"></div>
    <h3>Weather in {{location.city}} </h3>
    <p>Temperature: {{weather.main.temp - 273.15 + "° Celsius"}}</p>
    <p>Condition is {{weatherConditions.condition}}</p>
    <p>Sun will rise at {{weatherConditions.sunrise}}</p>
    <p>Sun will set at {{weatherConditions.sunset}}</p>
    <p>Therefore, we'll have {{weatherConditions.daylight}} hours of daylight</p>
    <p>Humidity is {{weatherConditions.humidity}}%</p>
    <p>Wind is {{weatherConditions.windSpeed}} km/h, direction {{weatherConditions.windDirection}} degrees</p>
    <p>Visibility is {{weatherConditions.visibility}}, whatever that means</p>
    
  </div>
</div>
