/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html{

    margin: 0px 0px 0px 0px;
}

main {
padding-top: 20px;
padding-left: 30px;
width:auto;
height: 100vh;
position:relative;
background-image: url(/assets/bg1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
color: white;
}