header{
    position: relative;
}

nav {
        position: absolute;
        top: 0px;
        left: -98%;
        background: #DB473B;
        display: block;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        transition: all .5s;

        -webkit-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
        -moz-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
        box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);

        span {
            width: 40px;
            height: 80px;
            background: #DB473B;
            border-radius: 15px;
            position: absolute;
            bottom: 20px;
            right: -25px;
            display: block;
            -webkit-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
            -moz-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
            box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
            cursor: pointer;
            transition: all .5s;
        }

        .drag-status2 {
            background: RGBA(219,71,59,0);
            -webkit-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0);
            -moz-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0);
            box-shadow: 7px 0px 5px 0px rgba(36,36,36,0);
        }

        ul {
            padding: 30px 10px 20px 10px;

            li {
                padding: 10px 0px 10px 70px;

                a {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }

    .drag-status {
        left: -8%;
        transition: all .5s;
        background: RGBA(219,71,59,0.8);
    }
