/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html{
    max-width: 100vw;
    width: 100vw;
    margin: 0px 0px 0px 0px;
    background: #000202;
}

main {
padding: 30px 20px 20px 25px;
width:auto;
height:auto;
position:relative;
background-image: linear-gradient(to bottom,rgba(1, 14, 20, 0) 80%,rgba(1, 14, 20, 1)), url(/assets/bg1_desktop.jpg);
background-blend-mode: multiply;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
color: white;
transition: all 2s;
}

@media (max-width:1000px){
main {
    background-image: linear-gradient(to bottom,rgba(1, 14, 20, 0) 80%,rgba(1, 14, 20, 1)), url(/assets/bg1_desktop.jpg);
}
}

@media (max-width: 750px){
    main {
        background-image: linear-gradient(to bottom,rgba(1, 14, 20, 0) 80%,rgba(1, 14, 20, 1)), url(/assets/bg1_tablet.jpg);
    }
}

@media (max-width: 400px){
    main {
        background-image: linear-gradient(to bottom,rgba(1, 14, 20, 0) 80%,rgba(1, 14, 20, 1)), url(/assets/bg1_mobile.jpg);
    }
}