header{
    position: relative;
}

nav {
        position: absolute;
        top: 0px;
        left: -98%;
        background: #DB473B;
        display: block;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        transition: all 1s;

        -webkit-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
        -moz-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
        box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);

        span {
            width: 40px;
            height: 80px;
            background: #DB473B;
            border-radius: 15px;
            position: absolute;
            bottom: 20px;
            right: -25px;
            display: block;
            -webkit-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
            -moz-box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
            box-shadow: 7px 0px 5px 0px rgba(36,36,36,0.61);
            cursor: pointer;
        }
    }

    .drag-status {
        left: -8%;
        transition: all 1s;
    }
