*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{

    background-color: darkblue;
    height: 32px;
    
    a{
        vertical-align: middle;
        padding: 16px 16px 16px 16px;
        color: whitesmoke;
        text-decoration: none;
        font-weight: bold;
    }
}